label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

#login-form{  
	border: 3 px; 
	padding:9px 9px;
	width:300px; 
	border-radius:5px; 
}