label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 2;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.jumbotron { 
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}



